<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="s.ahmadsq.shhi">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/house"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/dark">
        <activity android:name=".loginActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lightActivity" />
        <activity android:name=".notificationActivity" />
        <activity android:name=".manageActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".adminActivity"
            android:theme="@style/dark" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".clockAlarmActivity" />

        <receiver android:name=".Alarm_Receiver" />

        <service
            android:name=".ClockAlarmService"
            android:enabled="true" />

        <activity android:name=".add_accountActivity" />
        <activity android:name=".delete_accountActivity"></activity>
    </application>

</manifest>